<md-card>
    <md-card-title>Login!</md-card-title>
    <md-card-content>
        <ul class="errors">
            <li *ngFor="let error of errors">
                {{ error.message }}
            </li>
        </ul>
        <md-input type="text" [(ngModel)]="user.username" placeholder="Username" (keyup.enter)="login()"></md-input>
        <md-input type="password" [(ngModel)]="user.password" placeholder="Password" (keyup.enter)="login()"></md-input>
    </md-card-content>
    <md-card-actions>
        <button md-button (click)="login()">Login</button>
    </md-card-actions>
</md-card>
