// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

header {
  background-color: #fff;
  color: #fff;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

md-toolbar {
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  .md-toolbar-fill-remaining-space {
    flex: 1 1 auto;
  }
}

main {
  padding: 1em;
  display: block;
}

footer {
  text-align: center;
  font-size: 1.0em;
  padding-bottom: 10px;
}
