<div class="home">
  <section class="home-header">
    <h1 class="title">The Angular2 & Apollo Client Starter Kit</h1>
    <h2>A GraphQL powered Angular2 application ready to be made awesome.</h2>
    <div class="img-container">
      <a target="_blank" href="https://angular.io"><img src="https://angular.io/resources/images/logos/standard/shield-large.png" alt="Angular2"></a>
      <a target="_blank" href="https://scaphold.io"><img src="https://scaphold.io/images/scaphold-logo-90x90.png" alt="Scaphold"></a>
      <a target="_blank" href="http://docs.apollostack.com/apollo-client/index.html"><img src="http://docs.apollostack.com/logo/square.png" alt="Apollo Client"></a>
    </div>
  </section>
  <section class="section-auth">
    <div *ngIf="!auth.credential.token" class="authentication-container">
      <td>
        <scaphold-register-form></scaphold-register-form>
      </td>
      <td>
        <scaphold-login-form></scaphold-login-form>
      </td>
    </div>
    <md-card *ngIf="auth.credential.token">
      <md-card-title>
        Logged in as {{auth.user.username}}
      </md-card-title>
      <md-card-actions>
        <button (click)="auth.logout()" md-button>Logout</button>
      </md-card-actions>
    </md-card>
  </section>
  <section class="pagination">
    <md-card>
      <md-card-title>Pagination with Users</md-card-title>
      <md-card-content>
        <md-input placeholder="Default Page Size" [(ngModel)]="defaultPageSize"></md-input>
        <md-input placeholder="First" [(ngModel)]="first"></md-input>
        <md-input placeholder="After" [(ngModel)]="after"></md-input>
        <md-input placeholder="Last" [(ngModel)]="last"></md-input>
        <md-input placeholder="Before" [(ngModel)]="before"></md-input>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="getPreviousPageOfUsers()" class="btn">Previous</button>
        <button md-button (click)="getNextPageOfUsers()" class="btn">Next</button>
      </md-card-actions>
    </md-card>
  </section>
  <section class="section-content">
    <div *ngIf="data.viewer && data.viewer.allUsers">
      <div *ngFor="let edge of data.viewer.allUsers.edges">
        <md-card>
          <md-card-title>{{edge.node.username}}</md-card-title>
          <md-card-content>
            <div>Cursor: {{edge.cursor}}</div>
            <div>Last Login: {{edge.node.lastLogin}}</div>
            <div>Created At: {{edge.node.createdAt}}</div>
          </md-card-content>
        </md-card>
        <!--<div class="panel">
        </div>-->
      </div>
    </div>
  </section>
</div>
