// component styles are encapsulated and only applied to their components
.home {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // text-align: center;
    .home-header {
        text-align: center;
    }
}

.img-container {
    text-align: center;
    img {
        width: 90px;
        height: 90px;
        margin: 15px;
    }
}

.authentication-container {
    display: table;
    width: 100%;
    :nth-child(1) {
        padding-right: 10px;
    }
    :nth-child(2) {
        padding-left: 10px;
    }
}

md-card {
    margin: 10px 0 10px 0;
}