// component styles are encapsulated and only applied to their components
.home {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img-container {
    text-align: center;
    img {
        width: 90px;
        height: 90px;
        margin: 15px;
    }
}

.authentication-container {
    display: flex;
    flex-direction: row;
    > .panel {
        flex-grow: 1;
    }
}