<md-card>
    <md-card-title>Register!</md-card-title>
    <md-card-content>
        <ul class="errors">
            <li *ngFor="let error of errors">
                {{ error.message }}
            </li>
        </ul>
        <md-input type="text" [(ngModel)]="user.username" placeholder="Username" (keyup.enter)="register()"></md-input>
        <md-input type="password" [(ngModel)]="user.password" placeholder="Password" (keyup.enter)="register()"></md-input>
    </md-card-content>
    <md-card-actions>
        <button md-button (click)="register()">Register</button>
    </md-card-actions>
</md-card>
